div.register form{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 450px;
    border-radius: 10px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    position: relative;
}

p.form-control-error{
    margin: 0;
    font-size: 0.8rem;
    color: red;
    position: relative;
    bottom: 10px;
}

div.form-control{
    position: relative;
}




