/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'ngx-toastr/toastr';

html, body { height: 100%; }

:root{
    --nav-footer-color: rgba(226, 233, 246, 0.753);
}

body { 
    margin: 0; 
    font-family: "Poppins", sans-serif; 
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-container .ngx-toastr{
    width: 400px !important;
    border-radius: 5px;
}

div.container{
    width: 100vw;
    min-height: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
}

div.root{
    display: flex;
    flex-direction: column;
    height: 100%;
}
main{
    flex: 1;
}

div.mat-mdc-form-field-flex{
    width: 400px !important;
}
a{
    color: rgb(16, 0, 0);
}
a:hover{
    text-decoration: none;
}
.btn{
    padding: 0.4rem 0.9rem;
    background-color: rgb(179, 194, 243);
    color: rgb(8, 8, 8);
    font-family: "Poppins", sans-serif; 
    border: none;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn:hover{
    background-color: rgb(168, 185, 241);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1, h2, h3, h4, h5, p{
    /* padding: 0; */
    margin: 0;
}

button.btn-danger{
    background-color: red;
    color: white;
}
button.btn-danger:hover{
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

button.btn-arrow i{
    transition: all 0.3s ease;
}

button.btn-arrow:hover i{
    transform: translateX(3px)
}

@media (max-width: 768px) {
    div.mat-mdc-form-field-flex{
        width: 70vw !important;
    }

    p.form-control-error {
        width: 70vw !important;
        font-size: 0.75rem !important;
        bottom: 0.9rem !important;
    }
}

@media (max-width: 576px) {
    .toast-container .ngx-toastr{
        width: 100% !important;
    }
}